@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative; 
  left: 0; 
  top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(29, 30, 30);
  color: antiquewhite;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.loc1 {
  text-align: end;
}
.loc2 {
  text-align: center;
}
.loc3 {
  text-align: start;
}


img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  position: absolute;
  top: 1.5rem;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  nav {
    grid-template-columns: 1fr;
  }
  .loc1, .loc3 {
    text-align: center;
  } 
  nav {
    height: 3rem;
  }
  #map {
    top: 4rem;
  }
  
}
