@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative; 
  left: 0; 
  top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(29, 30, 30);
  color: antiquewhite;
}

nav {
  display: grid;
  justify-content: center;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
}

#map {
  position: absolute;
  top: 3rem;
  bottom: 0;
  width: 100%;
}
